.gallery-title {
  text-align: center;
  font-size: 1.6rem;
  margin: 30px 0 10px;
  color: #333;
}

.image-gallery img:hover {
  transform: scale(1.03);
  filter: brightness(1.05) saturate(1.2);
}

.start-now-button {
  padding: 16px 40px;
  font-size: 1.5rem;
  background-color: #aa6ec2;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-now-button:hover {
  background-color: #8e44ad;
}

.start-now-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

